#export NB_HOME=/path/to/install/dir
export PATH=${NB_HOME}/bin:${NB_HOME}/sbin:${PATH}
export LD_LIBRARY_PATH=${NB_HOME}/lib
export LIBRARY_PATH=${NB_HOME}/lib
export C_INCLUDE_PATH=${NB_HOME}/include:${NB_HOME}/include/libxml2/
export CPLUS_INCLUDE_PATH=${NB_HOME}/include
