#htmlContent{
	position: absolute;
	display: block;
	top: 0%;
	left: 0%;
	overflow: scroll;
	width: 100%;
	height: 80%;
	border-style: solid;
    border-width: 5px;
}

#sidebar{
	position: fixed;
	display: block;
	top: 0%;
	right: 0%;
	width: 25%;
	height: 80%;
	padding: 5px;
}

#footer{
	position: fixed;
	padding-left: 20px;
	display: block;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
}

.annotated_Title{
	background-color: #accbe8 !important;
	outline: 2px solid #44515c !important;
}

.annotated_Subtitle{
	background-color: #9295ca !important;
	outline: 2px solid #3a3b50 !important;
}

.annotated_SectionTitle{
	background-color: #9eceb4 !important;
	outline: 2px solid #3f5248 !important;
}

.annotated_Author{
	background-color: #a9b2b1 !important;
	outline: 2px solid #434746 !important;
}

.annotated_Date{
	background-color: #cdb48c !important;
	outline: 2px solid #524838 !important;
}

.annotated_Location{
	background-color: #ffd602 !important;
	outline: 2px solid #665500 !important;
}

.annotated_Image{
	background-color: #e66665 !important;
	outline: 2px solid #5c2828 !important;
}

.annotated_ImageCaption{
	background-color: rgba(244, 125, 67) !important;
	outline: 2px solid #61321a !important;
}

.annotated_Body{
	background-color: rgba(174, 112, 175, 0.5) !important;
	outline: 2px solid #452c46 !important;
}