{% extends 'base.html' %}
{% from 'sidebar.html' import sidebar %}

{% block title %}Columbia NewsBlaster | Home {% endblock title %}
{% block head %}
    {{ super() }}

{% endblock head %}

{% block main %}
    {{ super() }}


<!-- Main -->
  <!-- Main -->
<!--     <section id="main" class="category-page"> -->
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <div class="post-wrap">
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">If you wanted to get rich.</a></h3>
                                <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds of years.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">Startups are not magic.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s, but what happens in one is very similar.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">They don't change the laws of wealth creation.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">They just represent a point at the far end of the curve.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">If you wanted to get rich.</a></h3>
                                <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds of years.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">Startups are not magic.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s, but what happens in one is very similar.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">They don't change the laws of wealth creation.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">They just represent a point at the far end of the curve.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">If you wanted to get rich.</a></h3>
                                <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds of years.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">Startups are not magic.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s, but what happens in one is very similar.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">They don't change the laws of wealth creation.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                        <article class="post">
                            <div class="thumb">
                                <a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
                            </div>
                            <div class="content">
                                <div class="cat">
                                    <a href="#">Mustreads</a>
                                </div>
                                <h3><a href="#">They just represent a point at the far end of the curve.</a></h3>
                                <p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s.</p>
                                <div class="activity">
                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                </div>
                            </div>
                        </article><!--  /.post -->
                    </div><!-- /.social-media-posts -->
                </div><!-- /.col-md-8 -->

                 {{ sidebar() }}

                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    <!-- </section> -->


       

{% endblock main %}