    {% extends 'base.html' %}
    {% from 'sidebar.html' import sidebar %}

    {% block title %}Columbia NewsBlaster | Home {% endblock title %}
    {% block head %}
        {{ super() }}

    {% endblock head %}

    {% block main %}
        {{ super() }}

                    <div class="container">
                        <div class="row">
                        
                        <div class="col-md-8">
                                <div class="featured-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <div class="content-left">
                                        <article class="post">
                                            <div class="thumb">
                                                <!-- TODO Images to be read  from database once crawled -->
                                                <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/9.jpg') }}" > </a>
                                            </div>
                                            <div class="cat">
                                                <a href="">Mustreads</a>
                                            </div>
                                            <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                            <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s, but what happens in one is very similar.</p>
                                            <div class="post-meta">
                                                <span class="author">By <a href="#">Paul Graham</a></span>
                                                <div class="activity">
                                                    <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                                </div>
                                            </div>
                                        </article><!--  /.post -->
                                    </div><!-- /.content-left -->
                                    <div class="content-right">
                                        <article class="post">
                                            <div class="thumb">
                                                <!-- TODO Images to be read  from database once crawled -->
                                                <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/4.jpg') }}" > </a>
                                            </div>
                                            <div class="cat">
                                                <a href="">Tech</a>
                                            </div>
                                            <h3><a href="#">Startups usually involve technology, so much so that the phrase "high-tech startup" is almost redundant.</a></h3>
                                            <div class="activity">
                                                <span class="views">12</span><span class="comment"><a href="#">15</a></span>
                                            </div>
                                        </article><!--  /.post -->
                                        <article class="post">
                                            <div class="thumb">
                                                <!-- TODO Images to be read  from database once crawled -->
                                                <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/4.jpg') }}" > </a>
     
                                            </div>
                                            <div class="cat">
                                                <a href="">Social media</a>
                                            </div>
                                            <h3><a href="#">Startups usually involve technology, so much so that the phrase "high-tech startup" is almost redundant.</a></h3>
                                            <div class="activity">
                                                <span class="views">12</span><span class="comment"><a href="#">15</a></span>
                                            </div>
                                        </article><!--  /.post -->
                                    </div><!-- /.content-right -->
                                </div><!-- /.featured-posts -->
                                <div class="highlights-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <div class="gn-line"></div>
                                    <div class="section-title">
                                        <h4><a href="#">Highlights</a></h4>
                                    </div>
                                    <article class="post">
                                        <div class="thumb">

                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                        </div>
                                        <div class="cat">
                                            <a href="">Social media</a>
                                        </div>
                                        <h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
                                        <div class="activity">
                                            <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                        </div>
                                    </article><!--  /.post -->
                                    <article class="post last">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                        </div>
                                        <div class="cat">
                                            <a href="">Social media</a>
                                        </div>
                                        <h3><a href="#">I'm not claiming the multiplier is precisely 36, but it is certainly more than 10...</a></h3>
                                        <div class="activity">
                                            <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                        </div>
                                    </article><!--  /.post -->
                                    <article class="post">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                        </div>
                                        <div class="cat">
                                            <a href="">Social media</a>
                                        </div>
                                        <h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
                                        <div class="activity">
                                            <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                        </div>
                                    </article><!--  /.post -->
                                    <article class="post margin-b0 last">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                        </div>
                                        <div class="cat">
                                            <a href="">Social media</a>
                                        </div>
                                        <h3><a href="#">I'm not claiming the multiplier is precisely 36, but it is certainly more than 10...</a></h3>
                                        <div class="activity">
                                            <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                        </div>
                                    </article><!--  /.post -->
                                </div><!-- /.highlights-posts -->
                                <div class="editors-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <div class="gn-line"></div>
                                    <div class="section-title">
                                        <h4><a href="#">Top Events</a></h4>
                                    </div>
                                    <div class="post-wrap">
                                        <article class="post">
                                            <div class="thumb">
                                                <!-- TODO Images to be read  from database once crawled -->
                                                <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/3.jpg') }}" > </a>
                                            </div>
                                            <div class="content">
                                                <div class="cat">
                                                    <a href="">Mustreads</a>
                                                </div>
                                                <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                                <p class="excerpt-entry">Economically, you can think of a startup as a way to compress your whole working life into a few years.</p>
                                                <div class="post-meta">
                                                    <span class="author">By <a href="#">Anna Chapman</a></span>
                                                    <span class="time"> - 16 hours ago</span>
                                                </div>
                                            </div>
                                        </article><!--  /.post -->
                                        <article class="post">
                                            <div class="thumb">
                                                <!-- TODO Images to be read  from database once crawled -->
                                                <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/3.jpg') }}" > </a>
                                            </div>
                                            <div class="content">
                                                <div class="cat">
                                                    <a href="">Mustreads</a>
                                                </div>
                                                <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                                <p class="excerpt-entry">Instead of working at a low intensity for forty years, you work as hard as you possibly can for four.</p>
                                                <div class="post-meta">
                                                    <span class="author">By <a href="#">John Doe</a></span>
                                                    <span class="time"> - 16 hours ago</span>
                                                </div>
                                            </div>
                                        </article><!--  /.post -->
                                        <article class="post">
                                            <div class="thumb">

                                                 <!-- TODO Images to be read  from database once crawled -->
                                                <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/3.jpg') }}" > </a>

                                            </div>
                                            <div class="content">
                                                <div class="cat">
                                                    <a href="">Mustreads</a>
                                                </div>
                                                <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                                <p class="excerpt-entry">I think your best bet would be to start or join a startup. </p>
                                                <div class="post-meta">
                                                    <span class="author">By <a href="#">Mike Tyson</a></span>
                                                    <span class="time"> - 16 hours ago</span>
                                                </div>
                                            </div>
                                        </article><!--  /.post -->
                                    </div><!-- /.post-wrap -->
                                </div><!-- /.editors-posts -->
                        </div><!-- /.col-md-8 -->

                        {{ sidebar() }}


                        </div>
                    </div>

    {% endblock main %}

