{% extends 'base.html' %}

{% block title %}Columbia NewsBlaster | Home {% endblock title %}
{% block head %}
    {{ super() }}

{% endblock head %}

{% block main %}
    {{ super() }}


     <div class="col-md-8">
                            <div class="featured-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                <div class="content-left">
                                    <article class="post">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/9.jpg') }}"  </a>
                                        </div>
                                        <div class="cat">
                                            <a href="">Mustreads</a>
                                        </div>
                                        <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                        <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s, but what happens in one is very similar.</p>
                                        <div class="post-meta">
                                            <span class="author">By <a href="#">Paul Graham</a></span>
                                            <div class="activity">
                                                <span class="views">345</span><span class="comment"><a href="#">15</a></span>
                                            </div>
                                        </div>
                                    </article><!--  /.post -->
                                </div><!-- /.content-left -->
                                <div class="content-right">
                                    <article class="post">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/4.jpg') }}" > </a>
                                        </div>
                                        <div class="cat">
                                            <a href="">Tech</a>
                                        </div>
                                        <h3><a href="#">Startups usually involve technology, so much so that the phrase "high-tech startup" is almost redundant.</a></h3>
                                        <div class="activity">
                                            <span class="views">12</span><span class="comment"><a href="#">15</a></span>
                                        </div>
                                    </article><!--  /.post -->
                                    <article class="post">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/4.jpg') }}" > </a>
 
                                        </div>
                                        <div class="cat">
                                            <a href="">Social media</a>
                                        </div>
                                        <h3><a href="#">Startups usually involve technology, so much so that the phrase "high-tech startup" is almost redundant.</a></h3>
                                        <div class="activity">
                                            <span class="views">12</span><span class="comment"><a href="#">15</a></span>
                                        </div>
                                    </article><!--  /.post -->
                                </div><!-- /.content-right -->
                            </div><!-- /.featured-posts -->
                            <div class="highlights-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                <div class="gn-line"></div>
                                <div class="section-title">
                                    <h4><a href="#">Highlights</a></h4>
                                </div>
                                <article class="post">
                                    <div class="thumb">

                                        <!-- TODO Images to be read  from database once crawled -->
                                        <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                    </div>
                                    <div class="cat">
                                        <a href="">Social media</a>
                                    </div>
                                    <h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
                                    <div class="activity">
                                        <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                    </div>
                                </article><!--  /.post -->
                                <article class="post last">
                                    <div class="thumb">
                                        <!-- TODO Images to be read  from database once crawled -->
                                        <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                    </div>
                                    <div class="cat">
                                        <a href="">Social media</a>
                                    </div>
                                    <h3><a href="#">I'm not claiming the multiplier is precisely 36, but it is certainly more than 10...</a></h3>
                                    <div class="activity">
                                        <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                    </div>
                                </article><!--  /.post -->
                                <article class="post">
                                    <div class="thumb">
                                        <!-- TODO Images to be read  from database once crawled -->
                                        <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                    </div>
                                    <div class="cat">
                                        <a href="">Social media</a>
                                    </div>
                                    <h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
                                    <div class="activity">
                                        <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                    </div>
                                </article><!--  /.post -->
                                <article class="post margin-b0 last">
                                    <div class="thumb">
                                        <!-- TODO Images to be read  from database once crawled -->
                                        <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/7.jpg') }}" > </a>
                                    </div>
                                    <div class="cat">
                                        <a href="">Social media</a>
                                    </div>
                                    <h3><a href="#">I'm not claiming the multiplier is precisely 36, but it is certainly more than 10...</a></h3>
                                    <div class="activity">
                                        <span class="views">12</span><span class="comment"><a href="#">0</a></span>
                                    </div>
                                </article><!--  /.post -->
                            </div><!-- /.highlights-posts -->
                            <div class="editors-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                <div class="gn-line"></div>
                                <div class="section-title">
                                    <h4><a href="#">Top Events</a></h4>
                                </div>
                                <div class="post-wrap">
                                    <article class="post">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/3.jpg') }}" > </a>
                                        </div>
                                        <div class="content">
                                            <div class="cat">
                                                <a href="">Mustreads</a>
                                            </div>
                                            <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                            <p class="excerpt-entry">Economically, you can think of a startup as a way to compress your whole working life into a few years.</p>
                                            <div class="post-meta">
                                                <span class="author">By <a href="#">Anna Chapman</a></span>
                                                <span class="time"> - 16 hours ago</span>
                                            </div>
                                        </div>
                                    </article><!--  /.post -->
                                    <article class="post">
                                        <div class="thumb">
                                            <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/3.jpg') }}" > </a>
                                        </div>
                                        <div class="content">
                                            <div class="cat">
                                                <a href="">Mustreads</a>
                                            </div>
                                            <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                            <p class="excerpt-entry">Instead of working at a low intensity for forty years, you work as hard as you possibly can for four.</p>
                                            <div class="post-meta">
                                                <span class="author">By <a href="#">John Doe</a></span>
                                                <span class="time"> - 16 hours ago</span>
                                            </div>
                                        </div>
                                    </article><!--  /.post -->
                                    <article class="post">
                                        <div class="thumb">

                                             <!-- TODO Images to be read  from database once crawled -->
                                            <a href="#"> <img src="{{ url_for('static', filename = 'images/thumbs/3.jpg') }}" > </a>

                                        </div>
                                        <div class="content">
                                            <div class="cat">
                                                <a href="">Mustreads</a>
                                            </div>
                                            <h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
                                            <p class="excerpt-entry">I think your best bet would be to start or join a startup. </p>
                                            <div class="post-meta">
                                                <span class="author">By <a href="#">Mike Tyson</a></span>
                                                <span class="time"> - 16 hours ago</span>
                                            </div>
                                        </div>
                                    </article><!--  /.post -->
                                </div><!-- /.post-wrap -->
                            </div><!-- /.editors-posts -->




                        </div><!-- /.col-md-8 -->
                        <div class="col-md-4">



                            <div class="sidebar-widget-1">


                                <div class="widget widget-categories gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <h5 class="widget-title">Article Sources</h5>
                                    <ul class="cat-list">
                                        <li><a href="#">New York Times<span>(232)</span></a></li>
                                        <li><a href="#">Aall street journal <span>(22)</span></a></li>
                                    </ul>
                                </div><!-- /.widget-categories -->

                                <div class="widget widget-categories gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <h5 class="widget-title">Categoires</h5>
                                    <ul class="cat-list">
                                        <li><a href="#">Finance</li>
                                        <li><a href="#">Entertainment</li>
                                        <li><a href="#">Science & Technology</li>
                                    </ul>
                                </div><!-- /.widget-categories -->


                                <div class="widget widget-recent gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <h5 class="widget-title">Recent Summaries</h5>
                                    <ul>
                                        <li>
                                            <div class="thumb">
                                                <a href=""><img src="images/thumbs/2.jpg" alt="img"></a>
                                            </div>
                                            <div class="content">
                                                <h3><a href="#">Lots of people get rich knowing nothing more than that.</a></h3>
                                                <div class="date">7:00 am on Feb 28</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <a href=""><img src="images/thumbs/2.jpg" alt="img"></a>
                                            </div>
                                            <div class="content">
                                                <h3><a href="#">Lots of people get rich knowing nothing more than that.</a></h3>
                                                <div class="date">7:00 am on Feb 28</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <a href=""><img src="images/thumbs/2.jpg" alt="img"></a>
                                            </div>
                                            <div class="content">
                                                <h3><a href="#">Lots of people get rich knowing nothing more than that.</a></h3>
                                                <div class="date">7:00 am on Feb 28</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- /.widget-recent -->
                                <div class="widget widget-ads gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <a href="#"><img src="images/ad.jpg" alt="image"></a>
                                    <p class="text-ad">Advertisement</p>
                                </div><!-- /.widget-ads -->


                                
                                <div class="widget widget-follow-us gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <h5 class="widget-title text-dark">Follow Us</h5>
                                    <div class="socials">
                                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div><!-- /.widget-follow-us -->

                                <div class="widget widget-subscribe gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                                    <h5 class="widget-title">Good News Newsetter</h5>
                                    <p>Subscribe to our email newsletter for good news, sent out every Monday.</p>
                                    <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                                        <div id="subscribe-content">
                                            <div class="input">
                                                <input type="text" id="subscribe-email" name="subscribe-email" placeholder="Email">
                                            </div>
                                            <div class="button">
                                                <button type="button" id="subscribe-button" class="" title="Subscribe now">Subscribe</button>
                                            </div>
                                        </div>
                                        <div id="subscribe-msg"></div>
                                    </form>
                                </div><!-- /.widget-subscribe -->
                            </div><!-- /.sidebar -->
                        </div><!-- /.col-md-4 -->

{% endblock main %}

