<!DOCTYPE html>
<title>Article Annotator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

<div class="nav">
    <div id="palatte">
        <ul>
            <li>Title</li>
            <li>Subtitle</li>
            <li>SectionTitle</li>
            <li>Author</li>
            <li>Date</li>
            <li>Location</li>
            <li>Image</li>
            <li>ImageCaption</li>
            <li>Body</li>
        </ul>
    </div>
    <input type="file" id="files" name="files[]" multiple />
    <output id="list"></output>
    <p id='path'>Current Article:</p>
    <h3 id="selectedBrushText">Selected brush: None</h3>
    <button onclick="removeStylesheets()">Remove Stylesheets</button>
    <br>
    <div id="download">
        <button onclick="saveHTML()">Download Annotated HTML</button>
    </div>
    <br>
    <button onclick="undo()">Undo</button>
</div>

<div id="htmlContent">NO CONTENT LOADED</div>
<div id="loaded_html" style="visibility:hidden;">{{contents}}</div>

<script src="{{ url_for('static', filename='jquery-2.1.1.js')}}"></script>
<script src="{{ url_for('static', filename='highlighter.js')}}"></script>
